
.description {
    text-align: right;
}

.textbox {
    border: none;
    background-color: #dee0e2;
    font-size: 14px;
    height: 100%;
    width: 99%;
}

.autocomplete-options {
    font-size: 14px;
}

.autocomplete-active {
    background-color: #dee0e2;
}

body {
  margin: .5px;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
}

#lefter {
    position: fixed;
    top: 41px;
    height: 100%;
}

.floating {
    background: #bdbdbd;
    z-index: 1;
    border-style: solid;
    border-width: 1px;
}

tr {
    height: 16px;
}

.note {
    font-size: 10px;
}

.notation-item {
    opacity: 0.5;
}

.notation-name {
    position: absolute;
    padding-left: 25px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 15px;
}

.notation-equation {
    padding-top: 4px;
    height: 16px;
}

.notation-border {
    border: solid;
    border-width: 1px;
    border-color: transparent;
    width: 200px;
    height: 24px;
    transform: translateX(-2px);
}
