
.description {
    text-align: right;
}

input {
    border: none;
    background-color: #dee0e2;
    font-size: 14px;
    height: 100%;
    width: 99%;
}

.autocomplete-options {
    font-size: 14px;
}

.autocomplete-active {
    background-color: #dee0e2;
}

